<link rel="stylesheet" type="text/css" href="stylesheets/login.css" media="screen" />
<center>{{msg}}</center>
<form class="login" action="login" method="POST">
	<input type="text" name="username" placeholder="Username" id="username">  
	<input name="submit" type="submit" value="Sign In">
</form>
<center><a href="http://localhost:3000/auth/facebook">Log in with Facebook</a></center>
<center><img src="http://media3.giphy.com/media/MNa0HKdhc3SGQ/giphy.gif" alt="Cool Twot" style="width:304px;height:304px;"></center>